<div class="ui card">
  <div class="content">
    <div class="header"> <%= comment.name %> </div>
  </div>
  <div class="content">
    <div class="ui small feed">
      <div class="event">
        <div class="summary">
          <%= comment.content %>
        </div>
      </div>
    </div>
  </div>
</div>