<%= form_for [@blog, @comment], :html => {class: 'ui form'} do |f| %>
  <div class="four fields">
    <div class="field">
      Name <%= f.text_field :name %>
    </div>
  </div>
  <div class="four fields">
    <div class="field">
      Content <%= f.text_field :content %>
    </div>
  </div>
  <%= f.submit 'Add comment', class: 'ui button' %>
<% end %>