<div id="home_page">
  <br>
  <br>
  <center> 
    <div class="ui circular segment">
      <h2 class="ui header">
        Welcome folk!
        <br>
        <br>
        <div class="sub header"> <%= link_to "Visit Blogs Page", blogs_path, class: 'ui button' %> </div>
      </h2>
    </div>
  </center>
</div>